{% extends "base.html" %}
{% load filters %}

{% block content %}
{% if user.is_authenticated %}
  <div class="card border-primary mb-3">
    <div class="card-header bg-warning text-white">{{book.title}}</div>
    <div class="row">
      <div class="col-2 d-flex align-items-center justify-content-center">
        {% if book.thumbnail %}
        <img class="my-3 ms-3" src="{{book.thumbnail}}" />
        {% else %}
        <div class="border p-2">
          <span>No image available</span>
        </div>
        {% endif %}
      </div>
      <div class="col-10">
        <div class="card-body">
          <h4 class="card-title">{{book.author}}</h4>
          <p class="card-text pe-5">{{book.description}}</p>
        </div>
      </div>
    </div>
  </div>
    <a href="/newPost/{{book.bookId}}" class="btn btn-primary">Write a post</a>
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col" class="col-2">Title</th>
          <th scope="col" class="col-2">User</th>
          <th scope="col" class="col-5">Post Preview</th>
          <th scope="col" class="col-3">Timestamp</th>
        </tr>
      </thead>
      <tbody>
        {% for post in posts %}
        <tr class="table-primary">
          <th scope="row">{{post.postTitle}}</th>
          <td>{{user.username}}</td>
          <td>
            {% if post.postText|length > 30 %}
              {{post.postText|preview:30}} ...
            {% else %}
              {{post.postText}}
            {% endif %}
          </td>
          <td>{{post.timestamp}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endif %}
{% endblock %}