{% extends "base.html" %}

{% block content %}
<h1>Search Results</h1>

{% if booksInDatabase %}
  {% for bookInDatabase in booksInDatabase %}
    <div class="card border-primary mb-3">
      <div class="card-header bg-danger text-white">{{bookInDatabase.title}}</div>
      <div class="row">
        <div class="col-2 d-flex align-items-center justify-content-center">
          {% if bookInDatabase.thumbnail %}
          <img class="my-3 ms-3" src="{{bookInDatabase.thumbnail}}" />
          {% else %}
          <div class="border p-2">
            <span>No image available</span>
          </div>
          {% endif %}
        </div>
        <div class="col-10">
          <div class="card-body">
            <h4 class="card-title">
              {% if bookInDatabase.author %}
              {{bookInDatabase.author}}tag
              {% else %}
              <span>No author listed</span>
              {% endif %}
            </h4>
            <p class="card-text pe-5">{{bookInDatabase.description}}</p>
            <!-- <form action="/discussion/" method="GET"> -->
              <!-- {% csrf_token %}  -->
              <!-- <input type="hidden" name="title" value="{{bookInDatabase.title}}" />
              <input type="hidden" name="author" value="{{bookInDatabase.author}}" />
              <input type="hidden" name="description" value="{{bookInDatabase.description}}" />
              <input type="hidden" name="thumbnail" value="{{bookInDatabase.thumbnail}}" />
              <input type="hidden" name="bookId" value="{{bookInDatabase.bookId}}" /> -->
              <!-- </form> -->
            <a href="/discussion/{{bookInDatabase.bookId}}" class="btn btn-primary">Join a discussion</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
<hr/>
{% endif %}


{% if searchResult %}
  {% for book in searchResult %}
    <div class="card border-primary mb-3">
      <div class="card-header bg-warning text-white">{{book.title}}</div>
      <div class="row">
        <div class="col-2 d-flex align-items-center justify-content-center">
          {% if book.thumbnail %}
          <img class="my-3 ms-3" src="{{book.thumbnail}}" />
          {% else %}
          <div class="border p-2">
            <span>No image available</span>
          </div>
          {% endif %}
        </div>
        <div class="col-10">
          <div class="card-body">
            <h4 class="card-title">{{book.author}}</h4>
            <p class="card-text pe-5">{{book.description}}</p>
            <form action="/newDiscussion/" method="POST">
              {% csrf_token %} 
              <input type="hidden" name="title" value="{{book.title}}" />
              <input type="hidden" name="author" value="{{book.author}}" />
              <input type="hidden" name="description" value="{{book.description}}" />
              <input type="hidden" name="thumbnail" value="{{book.thumbnail}}" />
              <input type="hidden" name="bookId" value="{{book.bookId}}" />
              <button class="btn btn-primary" type="submit">Start a discussion</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  {% endfor %}
{% else %}
<p>I have no idea what you tried to search</p>
{% endif %}
{% endblock %}